<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>留言板</title>
</head>

<body>
  <div class="container">
    <h1>NV Team Requests Board</h1>

    <!-- 留言表单 -->
    <form action="/submit" method="post">
      <label for="visitorName">Name:</label>
      <input type="text" name="visitorName" required>
      <br>
      <label for="toolNeeded">Required Tools:</label>
      <input type="text" name="toolNeeded" required>
      <br>
      <label for="toolWebsite">Tools Website Link:</label>
      <input type="text" name="toolWebsite">
      <br>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" required>
      <br>
      <button type="submit">Leave a Message</button>
    </form>

    <!-- 留言板 -->
    <% messages.forEach(message => { %>
      <div class="message <%= message.approved ? 'completed' : (message.approved === false ? 'pending' : '') %>">
        <p><strong><%= message.visitorName %></strong></p>
        <p><strong>Required Tools:</strong> <br><%= message.toolNeeded %></p>
        <p><strong>Tools Website Link:</strong> <br><a href="<%= message.toolWebsite %>" target="_blank"><%= message.toolWebsite || 'Not Provided' %></a></p>
        <p><strong>Quantity:</strong> <br><%= message.quantity %></p>
        <p><strong>Timestamp:</strong> <br><%= message.messageTime.toLocaleString() %></p>

        <% if (!message.approved) { %>
          <form action="/approve/<%= message._id %>" method="post">
            <button type="submit" class="button approve" <% if (message.approved === null) { %>disabled<% } %>>Pending Approval</button>
          </form>
          <form action="/delete/<%= message._id %>" method="post">
            <button type="submit" class="button delete" <% if (message.approved === null) { %>disabled<% } %>>Delete</button>
          </form>
        <% } else { %>
          <form action="/complete/<%= message._id %>" method="post">
            <button type="submit" class="button complete" <% if (message.approved === null) { %>disabled<% } %>>Complete</button>
          </form>
          <form action="/delete/<%= message._id %>" method="post">
            <button type="submit" class="button delete" <% if (message.approved === null) { %>disabled<% } %>>Delete</button>
          </form>
        <% } %>
      </div>
    <% }) %>

  </div>
</body>

</html>
